__pycache__/
**/__pycache__/
*.py[cod]
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/
uploads/
outputs/
**/uploads/
**/outputs/
.vscode/
.idea/
.vs/
instance/
uploads/
outputs/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.vs/
.ipynb_checkpoints/
*.egg-info/
.eggs/
pip-log.txt